@model IEnumerable<eTermini.Models.MatchesEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Matches</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrganizerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @* Display Organizer's First and Last Name *@
                    @Html.DisplayFor(modelItem => item.Organizer.FirstName) @Html.DisplayFor(modelItem => item.Organizer.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => @item.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerCount)
                </td>
                <td>
                    <!-- Link/Button to Send Join Request -->
                    <form asp-action="SendJoinRequest" asp-controller="Matches" method="post">
                        <input type="hidden" name="matchId" value="@item.ID" />
                        <button type="submit">Join Match</button>
                    </form>

                    <!-- Other Actions: Edit, Details, Delete -->
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
